.time-td {
  width: 80px;
  vertical-align: top;
}
.slider-wrapper{
  margin-top: -12px;
  padding-bottom: 8px;
}
.gametime-input {
  width:45px;
  text-align:center;
}

.checkbox-info {
  width: 70px;
  font-size:11px;
  text-align:center;
}
