<div id="main-nav">
  <main-nav (pageChanged)="pageChanged($event)" (savedFilterChanged)="savedFilterChanged($event)"></main-nav>
</div>

<div id="players-wrapper" [hidden]="currentPage != 'players'">

  <div class="filter-wrapper" id="filter-nav-players" [style.height.px]="contentHeight" >
    <filter-players (dataEvent)="receiveData($event)" (dataEvent_adv)="receiveAdvData($event)" [savedFilter]="filter_data.players"></filter-players>
  </div>

  <div class="content-wrapper" id="content-players" [style.height.px]="contentHeight">
    <stats-table [data]="table_data.players" [data_adv]="table_data_adv.players" [pageName]="'players'"></stats-table>
  </div>

</div>

<div id="teams-wrapper" [hidden]="currentPage != 'teams'">

  <div class="filter-wrapper" id="filter-nav-teams" [style.height.px]="contentHeight">
    <filter-teams (dataEvent)="receiveData($event)" (dataEvent_adv)="receiveAdvData($event)" [savedFilter]="filter_data.teams"></filter-teams>
  </div>

  <div class="content-wrapper" id="content-teams" [style.height.px]="contentHeight">
    <stats-table [data]="table_data.teams" [data_adv]="table_data_adv.teams" [pageName]="'teams'"></stats-table>
  </div>

</div>

<div id="games-wrapper" [hidden]="currentPage != 'games'">

  <div class="filter-wrapper" id="filter-nav-games" [style.height.px]="contentHeight">
    <filter-games (dataEvent)="receiveData($event)" (dataEvent_adv)="receiveAdvData($event)" [savedFilter]="filter_data.games"></filter-games>
  </div>

  <div class="content-wrapper" id="content-games" [style.height.px]="contentHeight">
    <stats-table [data]="table_data.games" [data_adv]="table_data_adv.games" [pageName]="'games'"></stats-table>
  </div>

</div>
